
$primary: #7FB073;
$secondary: #3E5638;
$blue: #349DD6;
$teal: #309C9E;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

// Bootstrap Main
@import '../../node_modules/bootstrap/scss/bootstrap';



